<h3> Product</h3>
    <a class="btn btn-dark" href="/home/"><i class="fa fa-home"></i> Home </a>
    <a class="btn btn-dark" href="/home/product"><i class="fa fa-list-alt"></i>Add new product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.productID}}</td>
            <td>{{this.item}}</td>
            <td>{{this.price}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.size}}</td>
            <td>
                <a href="/product/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>