<h3> {{vie}} </h3>
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>Item</th>
            <th>Color</th>
            <th>Gender</th>    
            <th>Quantity</th>
            <th>Size</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.productID}}</td>
            <td>{{this.item}}</td>
            <td>{{this.color}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.size}}</td>
            <td>{{this.price}}</td>
            <td>
                <a href="/product/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/product/deleteProduct/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>